@model ticaretaspcore.Models.Admin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.users)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Auth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Auth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.admin_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
